name: Update metrics

on:
  schedule: [{ cron: "0 2 * * *" }] # everyday at 2am
  workflow_dispatch:
  push: { branches: ["main"] }

jobs:
  header-iso-calendar:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: dnlopes
          template: classic
          config_timezone: UTC
          base: header
          filename: header-iso-calendar.svg
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

  habits:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: dnlopes
          template: classic
          config_timezone: UTC
          base: ""
          filename: habits.svg
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 30

  followup_user:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.followup.user.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_followup: yes
          plugin_followup_sections: user
